{% extends "schoolAcademy/base.html" %} {% block title %} contact page {% endblock title%}{% block content %}

<section class="py-5 text-center container">

    <h2 class="pb-2 border-bottom">Contact Us</h2>
    <div class="card mt-5 pt-4">
        <div class="card-body">
            <div class="mb-3 text-left">
                <label for="exampleFormControlInput1" class="text-left form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="mb-3 text-left">
                <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </div>
    </div>
</section>

{% endblock content %}